
body{
   
    margin:0;
    padding:0;
  
   }

   html {
      background-color: pink;
   }


 
hr {
     margin-top: 40px;
}
.todolist{
  
     width: 70%;
    padding:20px 20px 0px 20px;
    margin:0 auto;
    margin-top:30px;
    color: #4682B4;
    border-radius: 2px;
    font-family: 'Lobster', cursive;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
 
.add_btn{
     height: 40px;
     width: 100px;
     font-size: 14px;
     border-radius: 5px;
     background: white;
     font-weight: bold;
 
}

 
.check a {
                    text-decoration: none;
                    color:white;
                    background:#708090;
                    padding:1px 6px;
                    border-radius: 3px;
}
 
.delete a {
                    color:white;
                    background:#708090;
                    padding:1px 6px;
                    border-radius: 3px;
                    text-decoration: none;

 
 
}
 
.list-unstyled p{
                    text-decoration:line-through;
                    text-decoration-line:solid black;
}
 
table {
     width: 30%;
     }

 
.task_input{
     height: 25px;
     width: 80%;
     border: 2px solid black;
}
 
 
input{
     font-size: 14px;
}
 
 
footer {
                    height: 50px;
                    padding-top: 10px;
                    background-color: rgba(141, 169, 178, 0.8);
}
 
footer a {
                    color:white;
                    margin:10px;
                    font-size: 18px;
                    padding-left: 600px;
                    text-decoration: none;
}